<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <title>Go Back Home</title>

    <style>
      /* Center everything in the body */
      body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background-color: #f8f9fa;
      }

      /* Center the text */
      .center-text {
        text-align: center;
      }
    </style>
  </head>

  <body>
    <div class="container">
      <!-- Text to display -->
      <h2 class="center-text">Click to go back to home page</h2>

      <!-- Form with action going home -->
      <form action="/">
        <div class="d-flex justify-content-center">
          <button type="submit" class="btn btn-primary btn-lg">
            Home Page
          </button>
        </div>
      </form>
    </div>
    {% for image in images %}
    <img src="{{ url_for('serve_image', filename=image) }}" />
    {% endfor %}
  </body>
</html>
